
.yearbook-title {
    background-color: darkblue; 
    color: gold;
    font-size: 3rem;
    font-weight: 800;
    padding: 20px;
    border-radius: 10px;
    text-align:center;
}
.card img {
    height: 250px;
    width: 250px;
}
